body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: orange;
}

h5 {
    font-size: 20px;
    color: chocolate;
}

.lightany-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 7%;


}

.link-button {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width img {
    width: 70%;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    border-left: 10px solid;
    border-color: darkturquoise;
    border-image: linear-gradient(blue cyan);
    border-left: 7px solid;
    border-image-slice: 1;
}

.half-widthbottom {
    box-shadow: 10px 10px 40px greenyellow;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 10px;
    padding-left: 20px;
    border-radius: 10px;
}

footer p {
    text-align: center;
}